body header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

body div form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body main{
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body main form input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

body main form textarea{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

body{
    margin: 0;
    background-color: cyan;
    padding: 20px;
    line-height: 27px;
    min-height: 100%;
}

footer{
    background-color: navy;
    color: white;
    min-height: 100px;
    padding-top: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: auto;
}

.button1 {
    margin: 15px;
    font-size: large;
    padding: 20px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: blue;
}

.button1:hover{
    margin: 15px;
    font-size: large;
    padding: 20px;
    border: none;
    border-radius: 35px;
    color: white;
    background-color: rgb(50, 50, 255);
}